<div id="top">
<!--<h1>マイページ</h1>-->
</br></br></br>
<h2><p>名前</p></h2></br>
<p><%= @player.player_name %></p></br>

<h2><p>メールアドレス</p></h2></br>
<p><%= @player.email %></p></br></br>

<p>
  <%= link_to "モード選択一覧", games_path %>/
  <%= link_to "マイページ編集", edit_player_path %>
</p>
</div>